---
import ResumeTitle from "@components/resume/title.md";
import ResumeContact from "@components/resume/contact.md";
import ResumeWorkExperience from "@components/resume/work-experiences.md";
import ResumeProjects from "@components/resume/projects.md";
import ResumeEducation from "@components/resume/education.md";
import ResumeSkills from "@components/resume/skills.md";
import ResumeSection from "@components/resume/ResumeSection.astro";
import { Icon } from "astro-icon/components";
---

<div class="flex justify-end">
  <a
    id="download"
    class="inline-flex items-center gap-1 underline print:hidden"
    href="/resume/resume.pdf"
    target="_blank"
  >
    <Icon name="file-down" />
    <span>Download resume</span>
  </a>
</div>

<article
  class="prose max-w-fit divide-y bg-white p-4 text-justify font-resume shadow-lg prose-h1:m-0 prose-h1:text-lg prose-h2:m-0 prose-h2:mb-2 prose-h2:text-sm prose-h2:text-blue-700 prose-h3:m-0 prose-h3:text-xs prose-p:m-0 prose-p:text-xs prose-p:text-black prose-a:font-semibold prose-strong:text-xs prose-ul:m-0 prose-li:m-1 prose-li:text-xs prose-li:text-black prose-li:marker:text-blue-200 prose-hr:my-1 print:max-h-none print:max-w-none print:shadow-none print:prose-a:no-underline"
  id="resume"
>
  <div class="grid grid-cols-2 pb-1">
    <section>
      <ResumeTitle />
    </section>
    <section class="text-right print:prose-a:font-normal">
      <ResumeContact />
    </section>
  </div>

  <ResumeSection>
    <ResumeWorkExperience />
  </ResumeSection>

  <ResumeSection>
    <ResumeProjects />
  </ResumeSection>

  <ResumeSection>
    <ResumeSkills />
  </ResumeSection>

  <ResumeSection>
    <ResumeEducation />
  </ResumeSection>
</article>
