---
import ResumeTitle from "@components/resume/title.md";
import ResumeContact from "@components/resume/contact.md";
import ResumeWorkExperience from "@components/resume/work-experiences.md";
import ResumeProjects from "@components/resume/projects.md";
import ResumeEducation from "@components/resume/education.md";
import ResumeSkills from "@components/resume/skills.md";
import { Icon } from "astro-icon/components";
---

<script>
  const button = document.getElementById("download");
  button?.addEventListener("click", (e) => {
    e.preventDefault();
    window.print();
  });
</script>

<button id="download" class="ml-auto flex items-center gap-1 underline print:hidden">
  <Icon name="file-down" />
  <span>Download resume</span>
</button>

<article
  id="resume"
  aria-label="resume"
  class="font-resume prose max-w-fit bg-white p-4 text-justify shadow-lg prose-h1:m-0 prose-h1:text-lg prose-h2:m-0 prose-h2:text-base prose-h2:text-blue-700 prose-h3:m-0 prose-h3:text-sm prose-p:m-0 prose-p:text-xs prose-p:text-black prose-a:font-semibold prose-strong:text-xs prose-ul:m-0 prose-li:text-xs prose-li:text-black prose-li:marker:text-blue-200 prose-hr:my-1 print:max-h-none print:max-w-none print:shadow-none print:prose-a:no-underline"
>
  <div class="grid grid-cols-2">
    <section aria-label="title">
      <ResumeTitle />
    </section>
    <section aria-label="contact" class="text-right print:prose-a:font-normal">
      <ResumeContact />
    </section>
  </div>
  <hr />

  <section aria-label="work experience">
    <ResumeWorkExperience />
  </section>
  <hr />

  <section aria-label="projects"><ResumeProjects /></section>
  <hr />

  <section aria-label="educations"><ResumeEducation /></section>
  <hr />

  <section aria-label="skills"><ResumeSkills /></section>
</article>
