---
import { ViewTransitions } from "astro:transitions";
import Navbar from "./navbar/Navbar.svelte";
const { title } = Astro.props;
---

<html lang="en" class="bg-background text-app-white">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class="mx-auto my-8 max-w-2xl space-y-4 p-4">
      <Navbar page={Astro.url.pathname} client:visible />
      <slot>Template</slot>
    </main>
  </body>
</html>
