---
import Layout from "../components/layout/layout.astro";
---

<Layout title="Nick's backyard">
  <h1 class="mb-8 text-2xl font-bold">Hi, I'm Nick</h1>

  <div class="space-y-8">
    <p>Just a dude who is 'great' at frontend and can do 'a bit' of backend.</p>

    <p>Welcome to my porfolio-kinda web.</p>
  </div>
</Layout>
