---
import Blog from "@components/layout/blogs/Blog.astro";
import Layout from "@components/layout/Layout.astro";
import { getCollection } from "astro:content";

const allBlogs = await getCollection("blogs");
---

<Layout title="Blog">
  <h2 class="mb-4 text-lg">My blogs</h2>
  {allBlogs.map((blog) => <Blog {...blog} />)}
</Layout>
