<div
  class="prose text-justify prose-h1:text-app-blue prose-h2:text-app-green prose-h3:text-app-cyan prose-p:text-app-white prose-a:text-app-yellow prose-strong:text-app-blue prose-em:text-app-cyan prose-code:text-app-green prose-li:text-app-white"
>
  <slot />
</div>
